{% block content %}
    <div class="form">
    <h2>Edit Book List</h2>
    <form action="{%url "delete_book" book.pk %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="delete_info">
            <p class="delete_message">Are you sure you want to delete this book?</p>
            Title: {{book.title}} </br>
            Author: {{book.author}}
        </div>
        <div class="buttons">
            <button type="submit" class= "delete">Delete</button>
            <button type="button" class="close" onClick= "closeForm()">Close</button>
        </div>
    </form>
    </div>
{%endblock%}